.cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 32px;
}

.menu-container {
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;;
}

.menu-container::-webkit-scrollbar {
  width: 8px;
}

.menu-container::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
